@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

* {
  margin: 0;
  top: 0;
}

body {
  background-color: rgb(251, 252, 253);
  font-family: 'Cormorant Garamond', serif;
}

header {
  background-color: blue;
}

h1 {
  margin-left: 30px;
  color: rgb(245, 236, 236);
  padding: 5px;
  font-weight: bolder;
}

.main-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  margin-top: -50px;
}

.display .titles {
  display: flex;
  justify-content: space-between;
}

.display {
  margin: 50px;
}

h2 {
  margin: 30px 30px;
}

.score-form {
  margin-top: 50px;
}

.score-form h2 {
  margin-left: 0;
}

.refresh {
  margin: 30px;
  border: none;
  background-color: blueviolet;
  color: #fff;
  border-radius: 5px;
}

.score-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-right: 30px;
}

.score-form form input {
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
}

.submit {
  justify-self: end;
  background-color: blue;
  color: #fff;
  text-align: center;
  border: none;
  height: 25px;
  border-radius: 5px;
}

.scores-list {
  padding: 0;
  list-style-type: none;
  border: 1px solid gray;
  margin: 0 30px;
  border-radius: 5px;
}

.scores-list li {
  padding: 10px;
}

.scores-list li:nth-child(2n) {
  background-color: #f0eeee;
}

footer {
  background-color: rgba(0, 0, 0, 0.562);
  color: #fff;
  text-align: center;
  padding: 10px;
}
